@use "../abstracts" as *;

#contact {
  .contact-items {
    width: 400px;
    gap: 20px;    
    .contact-item {
      @include flex-c-c-col;
      transition: $transition-03 box-shadow;
      border-radius: 10px;
      box-shadow: 0 0 10px 0 $black-light;
      padding: 10px;
      padding-bottom: 15px;
      width: 80%;
      text-align: center;
      .icon {
        margin: 0 auto;
        width: 70px;
      }
      .contact-info {
        h2 {
          margin-bottom: 8px;
          font-size: var(--fs-large-300);
        }
        a {
          font-size: var(--fs-small-600);
        }
      }
      &:hover {
        box-shadow: 0 0 5px 0 $black-light;
      }
    }
  }
}

//Media Queries
@include mq(small) {
  #contact {
    .contact {
      min-height: 20vh;
      .contact-items {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        width: 100%;
        .contact-item {
          flex-direction: row;
          padding: 15px;
          width: 28%;
          .icon {
            width: 65px;
            height: 65px;
            img {
              object-fit: contain;
            }
          }
          .contact-info {
            padding-left: 15px;
            width: 100%;
            text-align: left;
            word-break: break-all;
          }
          .tel-info {
            position: relative;
            right: 14px;
          }
          .address-info {
            position: relative;
            right: 8px;
          }
        }
      }
    }
  }
}
