@use "../abstracts" as *;

#projects {
  .projects {
    padding-bottom: 80px;
    .project-item {
      @include flex-c-c-col;
      margin: 20px auto;
      border-radius: 10px;
      max-width: 350px;
      overflow: hidden;
      .project-img {
        cursor: pointer;
        &:hover {
          img {
            transform: scale(1.06);
          }
          &::after {
            position: relative;
          }
        }
      }

      .project-info {
        @include flex-c-c-col;
        flex-basis: 50%;
        align-items: start;
        padding: 18px;
        @include size-full;
        background-color: $white;
        background-image: $gradient-48;
        color: $white;
        h2 {
          font-size: var(--fs-small-700);
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 5px;
        }
        p {
          padding: 5px 0;
          color: $white;
          margin-bottom: -5px;
          font-size: var(--fs-small-500);
        }
        ul li {
          font-weight: 700;
        }
      }
      .project-img {
        @include relative-h;
        flex-basis: 50%;
        height: 300px;
        img {
          transition: $transition-03 transform;
          scale: 1.27;
        }
        & .task-platform {
          scale: 1.40;
        }
        &:after {
          @include absolute-c-0;
          opacity: 0.8;
          background-image: $gradient-48;
        }
      }
      &:first-child {
        margin: 0 auto;
      }
    }
  }
}

//Media Queries
@include mq(small) {
  #projects {
    .projects {
      padding-bottom: 100px;
      .all-projects {
        min-height: initial;
        align-items: center;
        .project-item {
          flex-direction: row;
          margin: 0;
          border-radius: 0;
          max-width: initial;
          width: 96%;
          height: 258px;
          .project-info {
            height: 100%;
            h2 {
              font-size: var(--fs-large-300);
            }
            p {
              font-size: var(--fs-small-450);
            }
          }
          .project-img {
            height: 100%;
            img {
              scale: 1;
            }
            &:after {
              z-index: auto;
            }
          }
          &:nth-child(even) {
            flex-direction: row-reverse;
          }
        }
      }
    }
  }
}

@include mq(large) {
  #projects {
    .projects {
      .all-projects {
        .project-item {
          width: 100%;
          height: 340px;
          .project-info {
            padding: 30px;
            gap: 5px;
            h2 {
              font-size: var(--fs-large-400);
            }
            p {
              font-size: var(--fs-small-600);
            }
          }
          .project-img {
            img {
              scale: 1.22;
            }
          }
        }
      }
    }
  }
}
