@use "../abstracts" as *;

#technologies {
  .technologies {
    max-width: 1500px;
    padding-bottom: 90px;
    .tech-top {
      max-width: 390px;
      width: 100%;
      h1 {
        span {
          margin: 5px 0 5px;
          font-size: var(--fs-large-300);
        }
      }
    }
    .tech-bottom {
      @include flex-c-c;
      margin-top: 18px;

      .tech-item {
        @include flex-c-col;
        @include relative-h;
        flex-basis: 100%;
        align-items: flex-start;
        justify-content: start;
        z-index: 1;
        margin: 10px 0;
        border-radius: 10px;
        background-image: url("../assets/img/tech-item.webp");
        height: 270px;
        background-size: cover;
        padding: 25px 30px;
        color: $white;
        max-width: 390px;

        &::after {
          @include absolute-c-0;
          opacity: 0;
        }
        .tech-icons {
          display: flex;
          align-items: center;;
          gap: 16px;
          width: 100%;
          position: relative;
          right: 10px;
          margin-bottom: 8px;
          .icon-tools {
            scale: 1.1;
          }
        }
        p {
          text-align: left;
          color: $white;
        }
        .logo-vs {
          position: absolute;
          right: 7px;
          bottom: 5px;
        }
        .second-column-tools {
          margin-left: 35px;
        }
      }
    }
  }
}

//Media Queries
@include mq(small) {
  #technologies {
    .technologies {
      padding-bottom: 100px;
      .tech-top {
        max-width: 540px;
      }
      .tech-bottom {
        .tech-item {
          flex-basis: 37%;
          margin: 2.5%;
          height: 300px;
          max-width: 390px;
        }
      }
    }
  }
}

@include mq(large) {
  #technologies {
    .technologies {
      .tech-bottom {
        .tech-item {
          flex-basis: 24%;
          margin: 0.5%;
          height: 280px;
          max-width: initial;
          gap: 5px;
        }
      }
    }
  }
}
