@use "../abstracts" as *;

.container {
  @include flex-c-c;
  width: 100%;
  min-height: 100vh;
}

.section-container {
  flex-direction: column;
  margin: $m-auto;
  max-width: $w-container;
  padding: 100px 20px 100px;
}

@include mq(small) {
  .section-container {
    padding: 156px 20px 100px;
  }
}
